<div class="gg_ads_footer">
{% if site.baseurl == 'http://www.mazhuang.org' and site.adsense %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- github -->
<ins class="adsbygoogle"
     style="display:inline-block;width:468px;height:60px"
     data-ad-client="ca-pub-3425443792874607"
     data-ad-slot="9270406483"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endif %}
{% if site.baseurl == 'http://www.mazhuang.org' and site.amazon %}
<iframe src="http://rcm-cn.amazon-adsystem.com/e/cm?t=mazhuangorg-23&o=28&p=13&l=ez&f=ifr&f=ifr" width="468" height="60" scrolling="no" marginwidth="0" marginheight="0" border="0" frameborder="0" style="border:none;"></iframe>
{% endif %}
</div>
