{% if page.comments != false %}

  {% if site.comments_provider != 'disqus' and site.lazy_load_disqus and site.disqus and site.disqus.username %}
    <a href="#" class="show_disqus_comment" onclick="return false;">Show Disqus Comments</a>
    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function () {
        this.page.url = '{{ site.url }}{{ page.url }}';
        this.page.identifier = '{{ page.url }}';
        this.page.title = '{{ page.title }}';
    };
    var disqus_loaded = false;
    $(function() {
        $('.show_disqus_comment').on('click', function() { // DON'T EDIT BELOW THIS LINE
            $(this).html('加载中...');
            var that = this;
            if (!disqus_loaded) {
                var d = document, s = d.createElement('script');

                s.type = 'text/javascript';
                s.async = true;
                var shortname = '{{ site.disqus.username }}';

                s.src = '//' + shortname + '.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);

                disqus_loaded = true;
            }
            $(that).remove();
        })
    })
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {% endif %}

  {% case site.comments_provider %}
    {% when 'disqus' %}
      {% if site.disqus and site.disqus.username %}
        {% assign load_disqus = true %}
        <!-- Disqus Protection, see https://github.com/mzlogin/mzlogin.github.io/issues/2 -->
        {% if site.disqus.username == 'mzlogin' %}
          {% assign load_disqus = false %}
          {% if site.url contains 'mazhuang.org' %}
            {% assign load_disqus = true %}
          {% endif %}
        {% endif %}
        {% if load_disqus %}
          <div id="disqus_thread"></div>
          <script>
            var disqus_config = function () {
              this.page.url = '{{ site.url }}{{ page.url }}';
              this.page.identifier = '{{ page.url }}';
              this.page.title = '{{ page.title }}';
            };
            (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');

              s.type = 'text/javascript';
              s.async = true;
              var shortname = '{{ site.disqus.username }}';

              s.src = '//' + shortname + '.disqus.com/embed.js';

              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        {% endif %}
      {% endif %}
    {% when 'gitment' %}
        <div id="container"></div>
        <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
        <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
        <script>
        var gitment = new Gitment({
            id: '{{ page.url }}',
            owner: '{{ site.gitment.owner }}',
            repo: '{{ site.gitment.repo }}',
            oauth: {
                client_id: '{{ site.gitment.oauth.client_id }}',
                client_secret: '{{ site.gitment.oauth.client_secret }}',
            },
        })
        gitment.render('container')
        </script>
  {% endcase %}
{% endif %}
