<!DOCTYPE html>
<html lang="zh-cmn-Hans" prefix="og: http://ogp.me/ns#" class="han-init">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ assets_base_url }}/assets/vendor/primer-css/css/primer.css">
    <link rel="stylesheet" href="{{ assets_base_url }}/assets/css/components/collection.css">
    <link rel="stylesheet" href="{{ assets_base_url }}/assets/css/components/repo-card.css">
    <link rel="stylesheet" href="{{ assets_base_url }}/assets/css/sections/repo-list.css">
    <link rel="stylesheet" href="{{ assets_base_url }}/assets/css/components/boxed-group.css">
    <link rel="stylesheet" href="{{ assets_base_url }}/assets/css/globals/common.css">
    <link rel="stylesheet" href="{{ assets_base_url }}/assets/css/globals/responsive.css">
    <link rel="stylesheet" href="{{ assets_base_url }}/assets/css/posts/index.css">
    <link rel="stylesheet" href="{{ assets_base_url }}/assets/vendor/octicons/octicons/octicons.css">
    {% assign highlight_base_url = 'https://mazhuang.org/rouge-themes/dist' %}
    {% if site.cdn.jsdelivr.enabled %}
    {% assign highlight_base_url = 'https://cdn.jsdelivr.net/gh/mzlogin/rouge-themes@master/dist' %}
    {% endif %}
    <link rel="stylesheet" href="{{ highlight_base_url }}/{{ site.highlight_theme}}.css">
    {% if site.components.share.enabled %}
    <link rel="stylesheet" href="{{ assets_base_url }}/assets/vendor/share.js/dist/css/share.min.css">
    {% endif %}
    {% if site.components.fancybox.enabled %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"/>
    {% endif %}
    <!-- Latest compiled and minified CSS -->
    {% for css in page.css %}
    <link rel="stylesheet" href="{{ assets_base_url }}/assets/css/{{css}}">
    {% endfor %}

    {% if site.ios_app_name %}
       <meta name="apple-mobile-web-app-capable" content="yes">
       <meta name="apple-mobile-web-app-status-bar-style" content="black">
    {% endif %}
    <link rel="canonical" href="{{ page.url | prepend: site.url }}">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.url }}{{ site.subscribe_rss }}">
    <link rel="shortcut icon" href="{{ assets_base_url }}/favicon.ico">
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
      {% if page.keywords %}
      {% assign keywords = page.keywords %}
      {% else %}
      {% assign keywords = site.keywords %}
      {% endif %}
    <meta name="keywords" content="{{ keywords | strip_html | strip_newlines}}">
    <meta name="og:keywords" content="{{ keywords | strip_html | strip_newlines}}">
      {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines}}">
    <meta name="og:description" content="{{ page.excerpt | strip_html | strip_newlines}}">
      {% else if page.description %}
    <meta name="description" content="{{ page.description | strip_html | strip_newlines}}">
    <meta name="og:description" content="{{ page.description | strip_html | strip_newlines}}">
      {% else if content %}
    <meta name="description" content="{{ content | strip_html | strip_newlines | truncatewords: 100 }}">
    <meta name="og:description" content="{{ content | strip_html | strip_newlines | truncatewords: 100 }}">
      {% endif %}
    {% else %}
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    {% if page.og_image_url %}
    <meta property="og:image" content="{{ page.og_image_url }}">
    {% else %}
        {% if page.photo_url %}
    <meta property="og:image" content="{{ page.photo_url }}">
        {% endif %}
    {% endif %}
    <meta property="og:url" content="{{ site.url }}{{ page.url | remove_first:'index.html' }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="zh_CN" />
    {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date: '%Y-%m-%d' }}">
    {% endif %}

    <script src="{{ assets_base_url }}/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="{{ assets_base_url }}/assets/js/jquery-ui.js"></script>
    <script src="{{ assets_base_url }}/assets/js/main.js"></script>

    {% if site.url contains 'mazhuang.org' %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7093222719567591" crossorigin="anonymous"></script>
    {% endif %}

    {% if site.google.analytics_id %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google.analytics_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.google.analytics_id }}');
    </script>
    {% endif %}
</head>
<body class="{{ page.class }}" data-mz="{{ page.class }}">
    <header class="site-header">
        <div class="container">
            <h1><a href="{{ site.url }}/" title="{{ site.title }}"><span class="octicon octicon-mark-github"></span> {{ site.title }}</a></h1>
            <button class="collapsed mobile-visible" type="button" onclick="toggleMenu();">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <nav class="site-header-nav" role="navigation">
                {% for nav in site.navs %}
                <a href="{{ site.url }}{{ nav.href }}" class="{% if page.menu == nav.label %} selected {% endif %} site-header-nav-item" target="{{ nav.target | default: _self }}" title="{{ nav.label }}">{{ nav.label }}</a>
                {% endfor %}
                <a class="mobile-hidden" href="{{ site.url }}{{ site.subscribe_rss }}"><span class="octicon octicon-rss" style="color:orange;"></span></a>
            </nav>
        </div>
    </header>
    <!-- / header -->
