<div class="nav">
    <div class="nav_nav">
        <a class="nav_a1" href="{{ root_url }}/">首页</a>
        <a href="{{ root_url }}/categories/">分类</a>
        <a class="nav_a1" href="{{ root_url }}/wiki/">维基</a>
        <a href="{{ root_url }}/links/">链接</a>
        <a class="nav_a1" href="{{ root_url }}/about.html">关于</a>
    </div>
    <div class="nav_rss"><a href="{{ root_url }}/sitemap.xml" style="display:none;">SITEMAP</a><a href="{{ root_url }}/atom.xml" target="_blank">订阅</a></div>
</div>
