---
layout: default
---

<!-- Page Header -->
<style type="text/css">
  header.intro-header{
    background-image: url('{{ site.baseurl }}/images/theme/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')
  }
</style>
<header class="intro-header" >
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="site-heading">
        <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
        <hr class="small">
        <span class="subheading">{{ page.description }}</span>
      </div>
    </div>
  </div>
</div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ content }}
      {% if page.comments == true %}
        {% include duoshuo.html %}
      {% endif %}
    </div>
  </div>
</div>
